/* Responsive - smartphone */

@media screen and (max-width: 1000px) {

    header,main, .section_header{
      padding: 0 0;
    }
  
    .corps {
      display: flex;
      flex-direction: column;
    }
  
    .menu_resp, .container_titre, .barre_de_recherche, .filtres, #info {
      margin-left: 20px;
      margin-right: 20px;
    }
    
    /* Menu de navigation */
  
    nav ul {
      padding-left: 0px;
    }
  
    nav li {
      margin-top: 0px;
      border-bottom: 3px solid #ecebeb;
      padding-bottom: 10px;
      margin-right: 0px;
      width: 100%;
      text-align: center;
    }
  
    #nav_resp1 {
      margin-right: 0px;
    }
  
    nav {
      margin-left: -20px;
      margin-right: -20px;
    }
  
    nav li a:hover {
      border-top: none;
    }
  
    nav li:hover {
      border-bottom: 3px solid #0065fc;
    }
  
    .nav_smart {
      padding-left: 20px;
    }
  
    /* Header */
  
    #logo img {
      width: 90px;
    }
  
    .container_titre{
      font-size: 10px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  
    .container_titre p {
      font-size: 12px;
    }
  
    /* Filtres */
  
    .filtres {
      flex-wrap: wrap;
    }
  
    .filtres ul li {
      margin-left: 7px;
     }
  
    #filtre_capsule {
      margin-top: -15px;
    }
  
    .resp_filtres {
      margin-top: 10px;
    }
  
    /* Barre de recherche */
  
    #bouton_rechercher_mob{
      display: inline;
      border: 10px solid #0065fc;
      background-color: #0065fd;
      border-radius: 10px;
      color: white;
      font-size: 14px;
      margin-left: -15px;
      padding-top: 3px;
      margin-bottom: 5px;
    }
  
    #bouton_rechercher {
      display: none;
    }
  
    #info {
      margin-bottom: 15px;
    }
  
    /* Hébergements à Marseille */
  
    #hebergements {
      background-color: white;
      border: none;
    }
  
    #titre_section{
      margin-top: -30px;
    }
  
    #afficher_plus {
      margin-left: 15px;
      font-size: 15px;
    } 
    /* les plus populaires */
  
    aside {
      width: 100%;
      border-radius: 0px;
      margin-bottom: 40px;
      padding-bottom: 20px;
    }
  
    .capsule_ho {
      width: 88%;
      margin-bottom: 10px;
    }
  
    #hebergements {
      width: 100%;
      order: 1;
    }
  
    /* Activités à Marseille */
  
    .activites {
      padding: 0 15px;
    } 
  
    #activites_titre {
      margin-bottom: -10px;
    }
  
    .capsule_activites {
      display: flex;
      flex-direction: column;
    }
  
    .capsule_verticale {
      margin-top: 20px;
      height: 180px;
      width: 100%;
    }
  
    .capsule_verticale img {
      height: 130px;
    }
  
    .capsule_horizontale {
      width: 100%;
    }
  
    .capsule_horizontale img {
      width: 100%;
    }
  
    .resp_cal {
      margin-left: 0px;
    }
  
    .capsule_horizontale{
      margin-top: 20px;
      width: 100%;
      margin-left: 0px;
    }
  
    .capsule_horizontale1 {
      width: 100%;
      height: 180px;
    }
  
    .capsule_horizontale1 img {
      height: 130px;
      width: 100%;
    }
  
    .capsule_horizontale2 {
      width: 100%;
      height: 180px;
    }
  
    .capsule_horizontale2 img {
      width: 100%;
      height: 130px;
    }
    .capsule_horizontale1{
      margin-top: 20px;
      width: 100%;
      margin-left: 0px;
    }
    .capsule_horizontale2{
      margin-top: 20px;
      width: 100%;
      margin-left: 0px;
    }
  
  }
  
  .container_footer {
    max-width: 1200px;
    margin: auto;
  }
  
  @media screen and (max-width: 700px) {
    .capsule_container {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 430px) {
  
    #filtre_capsule {
      margin-left: -14px;
    }
  
    /* Hébergements */
  
    .capsule_container {
      width: 90%;
      margin-bottom: -15px;
    }
  }  
  
/* Responsive - tablette */

  @media screen and (min-width:700px) and (max-width:1000px) {
      aside {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 40px;
      }
    
      #groupe_capsule {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    
      aside a {
        width: 50%;
      }
    
      .capsule_ho {
        width: 88%;
        min-width: 250px;
      }
    
      .capsule_resp_pop {
        margin-left: 60%;
      }
  
      /* Activités à Marseille */
  
      .capsule_activites {
        display: flex;
        flex-direction: row;
      }
  
      .activites{
        padding-right: 0px;
      }
  
      .capsule_verticale {
        width: 100%;
        height: 400px;
      }
  
      .capsule_verticale img {
        height: 340px;
      }
  
      .capsule_display{
        display: flex;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
      }
    }