/* Page général */

@font-face {
  font-family: "Raleway";
  src: url(/P02_test/police/Raleway/Raleway-VariableFont_wght.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 20px;
  margin-left: 470px;
  margin-right: 470px;
  font-family: Raleway, arial, serif;
}

/* Header */

.en_tete {
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
}

#logo img {
  width: 70px;
}
#sous_titre {
  margin-top: -6px;
}

/* menu navigation */
nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 40px;
  color: #0065fc;
}

nav li a {
  text-decoration: none;
  color: #0065fc;
}

/* barre de recherche */

.barre_de_recherche {
  display: flex;
  align-items: baseline;
  width: 290px;
}

#bordure_icone_location {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  border-radius: 5px 0 0 5px;
  height: 21px;
  width: 20px;
  padding: 5px;
}

#icone {
  font-size: 0.8em;
  margin-left: 5px;
}

.barre_de_recherche p {
  border: 8px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 0.8em;
}

input[type="search"] {
  -webkit-appearance: none;
  border: 0px solid white;
}

input::placeholder {
  color: black;
}

/* Filtres de recherche */

.filtres {
  display: flex;
  align-items: baseline;
  font-size: 0.7em;
  font-family: Raleway;
  font-weight: bold;
  margin-top: -5px;
}

.filtres ul {
  display: flex;
  list-style-type: none;
  padding-left: 5px;
}

.filtres ul li {
  margin-left: 30px;
  padding-right: 20px;
  border: 1px solid #ecebeb;
  border-radius: 15px 15px 15px 15px;
}

#icone_filtres {
  margin-right: 10px;
  border: 10px solid #deebff;
  border-radius: 15px 15px 15px 15px;
  color: #0065fc;
}

/* information quantitées logements */

#info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: grey;
}

#icone_info {
  color: #0065fc;
  font-size: 0.6em;
  border: 1px solid #ecebeb;
  height: 17px;
  width: 20px;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding-top: 3px;
}

#info p {
  margin-left: 5px;
}

/* partie Hébergements à Marseille */
.corps {
  display: flex;
  justify-content: space-between;
}

#titre_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}

article {
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
  border-radius: 10px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
}

.capsule {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 1px solid white;
  box-shadow: 0px 1px 5px grey;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}

.capsule img {
  width: 180px;
  height: 90px;
  border-radius: 10px 10px 0 0;
}

.capsule h2 {
  font-size: 0.7em;
  margin-left: 10px;
}

.capsule p {
  font-size: 0.6em;
  margin-left: 10px;
  margin-top: -10px;
  color: grey;
}

#etoile {
  display: flex;
  align-items: baseline;
  font-size: 0.6em;
  margin-left: 9px;
  margin-top: -8px;
  color: #0065fc;
}

.etoile_grise {
  color: #cfcdcd;
}

#ligne_1 {
  display: flex;
  justify-content: space-around;
}

#ligne_2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#afficher_plus {
  font-size: 0.8em;
  font-weight: bold;
}

/* partie les plus populaires */

aside {
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
  border-radius: 10px 10px 10px 10px;
}

#ecart {
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

#groupe_capsule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
}

#capsule_ho {
  display: flex;
  border: 1px solid #ecebeb;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
  padding-right: 40px;
}

#capsule_ho img {
  width: 90px;
  height: 85px;
  border-radius: 10px 0 0 10px;
}
#description h2 {
  font-size: 0.6em;
  margin-left: 15px;
}

#description p {
  font-size: 0.6em;
  color: grey;
  margin-left: 15px;
}

#etoile_ho {
  display: flex;
  color: blue;
  font-size: 0.6em;
  margin-top: 25px;
  margin-left: 15px;
}

/* partie activités à Marseille */

.activites {
  display: flex;
  flex-direction: column;
}

.activites h1 {
  font-size: 1em;
}

#capsule_activites {
  display: flex;
  justify-content: space-between;
}

#capsule_verticale {
  border: 1px solid white;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
}

#capsule_verticale h2 {
  font-size: 0.8em;
  padding-left: 5px;
}

#capsule_verticale img {
  height: 250px;
  width: 200px;
  border-radius: 10px 10px 0px 0px;
}

#capsule_2 {
  border: 1px solid white;
  height: 150px;
  width: 248px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
}

#capsule_2 img {
  height: 100px;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
}

#capsule_2 h2 {
  font-size: 0.8em;
  padding-left: 5px;
}

#capsule_3 {
  border: 1px solid white;
  height: 100px;
  width: 248px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
  margin-top: 47px;
}

#capsule_3 img {
  height: 70px;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
}

#capsule_3 h2 {
  font-size: 0.8em;
  padding-left: 5px;
}

#capsule_horizontale {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 300px;
}

#capsule_4 {
  border: 1px solid white;
  height: 110px;
  width: 248px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
}

#capsule_4 img {
  height: 70px;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
}

#capsule_4 h2 {
  font-size: 0.8em;
  padding-left: 5px;
}

#capsule_5 {
  border: 1px solid white;
  height: 110px;
  width: 248px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 5px grey;
  margin-top: 77px;
}

#capsule_5 img {
  height: 70px;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
}

#capsule_5 h2 {
  font-size: 0.8em;
  padding-left: 5px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #ecebeb;
  margin-top: 30px;
  padding-bottom: 30px;
}

#titre {
  font-size: 0.6em;
  margin-left: 40px;
  margin-top: 20px;
}

#contenue ul {
  list-style-type: none;
  font-size: 0.6em;
}

#nos_heb {
  margin-right: 50px;
}

#assistance {
  margin-right: 300px;
}
