/* Page général */

@font-face {
  font-family: "Raleway";
  src: url(/P02_test/police/Raleway/Raleway-VariableFont_wght.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  font-family: Raleway, arial, serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */

.en_tete {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  margin-left: -40px;
}

#logo {
  margin-bottom: 30px;
}

#logo img {
  width: 90px;
  margin-bottom: 40px;
}
#sous_titre {
  margin-top: -6px;
  color: grey;
}

/* menu navigation */
nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 60px;
  color: #0065fc;
}

nav li a {
  text-decoration: none;
  color: #0065fc;
}

nav li a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}

/* barre de recherche */

.barre_de_recherche {
  display: flex;
  align-items: baseline;
  width: 340px;
}

#bordure_icone_location {
  border: 1px solid #eeeded;
  background-color: #eeeded;
  border-radius: 10px 0 0 10px;
  height: 30px;
  width: 29px;
  padding: 7px;
}

#icone {
  font-size: 1.2em;
  margin-left: 8px;
  margin-top: 4px;
}

.barre_de_recherche #bouton_rechercher {
  border: 11px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  color: white;
  font-size: 0.8em;
  margin-left: -3px;
  padding-top: 6px;
}

input[type="search"] {
  -webkit-appearance: none;
  border: 1px solid rgb(243, 243, 243);
  padding-top: 13px;
  padding-bottom: 10px;
}

input::placeholder {
  color: black;
  font-size: 1.3em;
}

/* Filtres de recherche */

.filtres {
  display: flex;
  align-items: baseline;
  font-size: 0.9em;
  font-family: Raleway;
  font-weight: bold;
  margin-top: 10px;
}

.filtres ul {
  display: flex;
  list-style-type: none;
  padding-left: 5px;
}

.filtres ul li {
  margin-left: 30px;
  padding-right: 20px;
  border: 1px solid #ecebeb;
  border-radius: 15px 15px 15px 15px;
}

#icone_filtres {
  margin-right: 10px;
  border: 10px solid #deebff;
  border-radius: 15px 15px 15px 15px;
  color: #0065fc;
}

.filtres ul li:hover {
  background-color: #deebff;
  transition-duration: 0.5s;
  font-size: 2em;
}

/* information quantitées logements */

#info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: grey;
  margin-top: -5px;
  margin-bottom: 30px;
}

#icone_info {
  color: #0065fc;
  font-size: 0.6em;
  border: 1px solid #ecebeb;
  height: 17px;
  width: 20px;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding-top: 3px;
}

#info p {
  margin-left: 5px;
}

/* partie Hébergements à Marseille */
.corps {
  display: flex;
  justify-content: space-between;
}

#titre_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 10px;
  padding-bottom: 10px;
}

article {
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
  padding-bottom: 30px;
}

.capsule_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 83%;
}

.capsule {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 6px solid white;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
  border-radius: 10px;
  background-color: white;
}

.capsule img {
  width: 300px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.capsule h3 {
  font-size: 1em;
  margin-left: 10px;
  margin-top: 4px;
}

.capsule p {
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: -15px;
  color: grey;
}

#etoile {
  display: flex;
  align-items: baseline;
  font-size: 0.8em;
  margin-left: 9px;
  margin-top: -8px;
  margin-bottom: 5px;
  color: #0065fc;
}

.etoile_grise {
  color: #cfcdcd;
}

#afficher_plus {
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
}

/* partie les plus populaires */

#pop_font {
  font-size: 1.5em;
}

aside {
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
  border-radius: 30px;
  width: 37%;
}

#ecart {
  margin: 10px;
  margin-left: 70px;
  margin-right: 100px;
}

#groupe_capsule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}

#capsule_ho {
  display: flex;
  border: 6px solid white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
}

#capsule_ho img {
  width: 170px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
#description h3 {
  font-size: 1em;
  margin-left: 15px;
}

#description p {
  font-size: 0.8em;
  color: grey;
  margin-left: 15px;
  margin-top: -12px;
}

#etoile_ho {
  display: flex;
  color: #0065fc;
  font-size: 0.8em;
  margin-top: 25px;
  margin-left: 15px;
}

/* partie activités à Marseille */

.activites h2 {
  margin-top: 40px;
  font-size: 0.9em;
  padding-bottom: 10px;
}

.activites {
  display: flex;
  flex-direction: column;
}

#capsule_activites {
  display: flex;
  justify-content: space-between;
}

#capsule_verticale {
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
}

#capsule_verticale h3 {
  font-size: 0.7em;
  padding-left: 5px;
}

#capsule_verticale img {
  height: 260px;
  width: 213px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#capsule_2 {
  height: 150px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
}

#capsule_2 img {
  height: 110px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#capsule_2 h3 {
  font-size: 0.7em;
  padding-left: 5px;
}

#capsule_3 {
  height: 120px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
  margin-top: 30px;
}

#capsule_3 img {
  height: 80px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#capsule_3 h3 {
  font-size: 0.7em;
  padding-left: 5px;
}

#capsule_horizontale {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 300px;
}

#capsule_4 {
  height: 130px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
}

#capsule_4 img {
  height: 90px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#capsule_4 h3 {
  font-size: 0.7em;
  padding-left: 5px;
}

#capsule_5 {
  height: 130px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(190, 190, 190);
  margin-top: 40px;
}

#capsule_5 img {
  height: 90px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#capsule_5 h3 {
  font-size: 0.7em;
  padding-left: 5px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #ecebeb;
  margin-top: 30px;
  padding-bottom: 30px;
}

#titre {
  font-size: 0.6em;
  margin-left: 40px;
  margin-top: 20px;
}

#contenue ul {
  list-style-type: none;
  font-size: 0.6em;
}

#nos_heb {
  margin-right: 50px;
}

#assistance {
  margin-right: 300px;
}

/* Responsive - taille d'écran + de 1920px */
